{{! link v0.0.2}}
<a{{#if component.data.metadata.id_field.value}} id="{{component.data.metadata.id_field.value}}"{{/if}} class="qld__direction-link--{{component.data.direction}}" href="{{component.data.url}}"{{#if component.data.disabled}} disabled="disabled"{{/if}}>
    {{{component.data.value}}}{{{component.data.content.value}}}
</a>
